name: CI Pipeline

on:
  push:
    branches:
      - develop
      - main

env:
  APP_NAME: task-manager
  DOCKERHUB_REPO: jlabtech/task-manager
  DOCKER_IMAGE_TAG: ${{ github.sha }}

jobs:
  # ------------------------------
  # 1️⃣ Validation Job
  # ------------------------------
  validation:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.20.0
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: ESLint
        run: npm run lint

      - name: Prettier check
        run: npm run format:check

      - name: Run Jest tests
        run: npm run test:coverage

      - name: Trivy FS scan (SARIF)
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
          scanners: 'vuln,secret'
          cache: true
          exit-code: 1

      - name: Trivy FS scan (console)
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
          skip-setup-trivy: true
          exit-code: 1

      - name: Upload Trivy SARIF to GitHub
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results.sarif'

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        with:
          fetch-depth: 0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # ------------------------------
  # 2️⃣ Build, Scan & Push Docker Image (Unique job to ensure artifacts reus, like docker image)
  # ------------------------------
  build-scan-push:
    runs-on: ubuntu-24.04
    needs: validation
    timeout-minutes: 20
    permissions:
      contents: read
      security-events: write
      actions: read
    outputs:
      image_version: ${{ steps.get_version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read version from RELEASE.md
        id: get_version
        run: |
          VERSION=$(cat RELEASE.md | tr -d ' \n')
          echo "Detected version: $VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          echo "Building Docker image with tags:"
          echo " - $DOCKERHUB_REPO:${{ steps.get_version.outputs.version }}"
          echo " - $DOCKERHUB_REPO:$DOCKER_IMAGE_TAG"

          docker build \
            -t $DOCKERHUB_REPO:${{ steps.get_version.outputs.version }} \
            -t $DOCKERHUB_REPO:$DOCKER_IMAGE_TAG .

      - name: Generate dynamic filenames for Trivy scan
        id: filenames
        run: |
          TIMESTAMP=$(date +'%Y%m%d-%H%M%S')
          echo "scan_file=trivy-scan-$TIMESTAMP.json" >> $GITHUB_OUTPUT
          echo "sbom_file=trivy-sbom-$TIMESTAMP.json" >> $GITHUB_OUTPUT

      - name: Scan Docker image locally (JSON)
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          image-ref: ${{ env.DOCKERHUB_REPO }}:${{ env.DOCKER_IMAGE_TAG }}
          format: json
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          output: ${{ steps.filenames.outputs.scan_file }}
          cache: false

      - name: Generate SBOM (SPDX JSON)
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          image-ref: ${{ env.DOCKERHUB_REPO }}:${{ env.DOCKER_IMAGE_TAG }}
          format: spdx-json
          output: ${{ steps.filenames.outputs.sbom_file }}
          cache: false

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.filenames.outputs.scan_file }}
          path: ${{ steps.filenames.outputs.scan_file }}

      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.filenames.outputs.sbom_file }}
          path: ${{ steps.filenames.outputs.sbom_file }}

      - name: Fail if HIGH/CRITICAL vulnerabilities are found
        run: |
          FILE=${{ steps.filenames.outputs.scan_file }}
          COUNT=$(jq '[.Results[].Vulnerabilities[]? | select(.Severity=="HIGH" or .Severity=="CRITICAL")] | length' "$FILE")
          if [ "$COUNT" -gt 0 ]; then
            echo "❌ Found $COUNT HIGH/CRITICAL vulnerabilities!"
            exit 1
          else
            echo "✅ No HIGH/CRITICAL vulnerabilities found."
          fi
        shell: bash

      - name: DockerHub Login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: |
          echo "Pushing Docker image tags:"
          echo " - $DOCKERHUB_REPO:${{ steps.get_version.outputs.version }}"
          echo " - $DOCKERHUB_REPO:$DOCKER_IMAGE_TAG"

          # First the SHA
          docker push $DOCKERHUB_REPO:$DOCKER_IMAGE_TAG
          # Then, the semantic version tag
          docker tag $DOCKERHUB_REPO:$DOCKER_IMAGE_TAG $DOCKERHUB_REPO:${{ steps.get_version.outputs.version }}
          docker push $DOCKERHUB_REPO:${{ steps.get_version.outputs.version }}

  # --------------------------------------
  # 4️⃣ Update GitOps Repository (Production - main for now)
  # --------------------------------------
  #update-gitops-main:
  #  permissions:
  #    contents: write
  #  runs-on: ubuntu-24.04
  #  needs: scan-image-vulnerabilities
  #  timeout-minutes: 10

#
#  steps:
#    # 1️⃣ Checkout GitOps repository on main branch
#    - name: Checkout GitOps repository
#      uses: actions/checkout@v4
#      with:
#        repository: YOUR_GITHUB_USERNAME/task-manager-gitops
#        token: ${{ secrets.GITOPS_TOKEN }}
#        ref: main
#        path: gitops
#
#    # 2️⃣ Configure Git identity for commits
#    - name: Configure Git user
#      run: |
#        git config --global user.name "github-actions"
#        git config --global user.email "github-actions@github.com"
#
#    # 3️⃣ Update image tag inside production overlay
#    - name: Update image version in production overlay
#      run: |
#        cd gitops/environments/prod
#        IMAGE_TAG=${{ needs.upload-image.outputs.image_version }}
#        echo "Updating production image to version: $IMAGE_TAG"
#
#        # Replace image tag in deployment.yaml (assumes image format: repo/name:tag)
#        sed -i "s|image: .*|image: $DOCKERHUB_REPO:$IMAGE_TAG|g" deployment.yaml
#
#    # 4️⃣ Commit changes if there are any
#    - name: Commit changes
#      run: |
#        cd gitops
#        git add .
#        git diff --cached --quiet || git commit -m "chore(prod): update task-manager image to ${{ needs.upload-image.outputs.image_version }}"
#
#    # 5️⃣ Push changes to main
#    - name: Push changes
#      run: |
#        cd gitops
#        git push origin main
